<footer class="site-footer">
    <div class="wrap footer-inner">
        <div class="col">
            <h4>Hearth & Haven</h4>
            <p>Home essentials for calm living.</p>
        </div>
        <div class="col">
            <h5>Customer Care</h5>
            <ul>
                <li><a href="/pages/shipping">Shipping</a></li>
                <li><a href="/pages/refund-policy">Returns</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Contact</h5>
            <p>support@yourstore.com</p>
        </div>
    </div>

    <div class="site-credit">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</div>
</footer>