<header class="site-header">
    <div class="wrap header-inner">
        <div class="brand">
            <a href="/">{{ settings.brand_name }}</a>
        </div>

        <nav class="site-nav">
            <a href="/collections/all">Shop</a>
            <a href="/pages/about-us">About</a>
            <a href="/pages/contact">Contact</a>
        </nav>

        <div class="header-actions">
            <a href="/cart" class="cart-link">Cart</a>
        </div>
    </div>
    
</header>